<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

        <link rel="stylesheet" href="styles.css">
        <title>iPlus Code</title>
    </head>

    <body>


        <!--Navbar code-->

        <!-- Image and text -->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="/static/icodelogo.png" width="70" height="30" class="d-inline-block align-top" alt="">
                iPlus Code
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Topics
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/blog1">CS50x</a>
                            <a class="dropdown-item" href="#">Technology</a>
                            <a class="dropdown-item" href="#">Competitive Programming</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Support and Follow</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/add">Add Post</a>
                    </li>
                </ul>
            </ul>
            <ul class="navbar-nav ms-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
            </ul>
            </div>
        </nav>


        <!---->
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8 blog-main">

                    <div class="blog-post">

                                <!--This here will be the main text-->

                                {% block body %}{% endblock %}

                    </div><!-- /.blog-post -->



                </div><!-- /.blog-main -->

                <aside class="col-md-4 blog-sidebar">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="font-italic">About</h4>
                        <p class="mb-0">I am a pre-final year student at TIET. I am passionate about using technology to
                            solve real-world problems. I have experience programming in Python and C++.</p>
                        <p><strong>Location</strong> : India</p>
                        <p><strong>Education</strong> : TIET</p>
                        <p><strong>Pronouns</strong> : He/Him</p>
                        <p><strong>Email</strong> : vivekvohra1102@gmail.com</p>
                        <p><strong>Date</strong> : May, 2024</p>






                    </div>


                    <div class="p-4">
                        <h4 class="font-italic">Follow me</h4>
                        <ol class="list-unstyled">
                            <li><a href="https://github.com/vivekvohra" target="_balnk">GitHub</a></li>
                            <li><a href="https://x.com/VivekVohra1102" target="_balnk">Twitter</a></li>
                            <li><a href="https://www.linkedin.com/in/vivek-vohra-11316a24a/" target="_balnk">Linkedin</a></li>
                            <li><a href="https://codeforces.com/profile/vvk_1102" target="_balnk">Codeforces</a></li>
                            <li><a href="https://leetcode.com/u/vivekvohra/" target="_balnk">Leetcode</a></li>
                            <li><a href="https://dev.to/vivekvohra" target="_balnk">Dev</a></li>
                        </ol>
                    </div>
                </aside><!-- /.blog-sidebar -->

            </div><!-- /.row -->

        </main>




        <!-- footer -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>© 2024-2030 iPlus Code </p>
        </footer>



        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
    </body>

</html>
