{% extends "layout.html" %}

{% block body %}
<h2 class="blog-post-title">CS50x week- 3 Tideman</h2>
<p class="blog-post-meta">Feb,11 by <a href="#">Vivek</a></p>
<div>
    <p class="has-line-data" data-line-start="0" data-line-end="1">
    <h2 id="tideman-electoral-system">Tideman electoral system</h2>
    <p>Tideman&#39;s Alternative Method is a ranked-choice voting system developed by Nicolaus Tideman which selects a
        single winner using votes that express preferences.In a ranked-choice system, voters can vote for more than one
        candidate. Instead of just voting for their top choice, they can rank the candidates in order of preference.We
        have to simulate a Tideman election.</p>
    <h2 id="assume-9-people-vote-in-respective-way">Assume 9 people vote in respective way</h2>
    <p><img width="831" alt="condorcet_1"
            src="https://github.com/vivekvohra/tideman/assets/112391833/7ded3ee3-8393-496f-ba73-ce2bcd7f12b6" class="img-fluid"></p>
    <h2 id="thus-the-terminal-window-">Thus the terminal window:</h2>
    <p><img src="https://github.com/vivekvohra/tideman/assets/112391833/daea8d63-174e-4dbf-bb71-c5f6c9522445"
        class="img-fluid" alt="Screenshot 2024-04-11 183623"></p>
    <h3 id="therefore-the-winner-is-alice-">Therefore; the winner is Alice!!</h3>
    <p>Alice is, in this election, the so-called “Condorcet winner” of the election: the person who would have won any
        head-to-head matchup against another candidate. If the election had been just Alice and Bob, or just Alice and
        Charlie, Alice would have won.</p>

    </p>
</div>
{% endblock %}
